.quiz-body{
    background-color: rgb(136, 192, 192);
    box-shadow: 10px 10px 10px rgb(198, 241, 216);
    border-radius: 10px;
}
.button{
    background-color: rgb(39, 60, 106);
    color: white;
    height: 30px;
    width: 120px;
    background-color: rgb(39, 60, 106);
    color: white;
    border: none;
    border-radius: 6px;
    
}
.button:hover{
    background-color: rgb(27, 26, 25)
}